<h1>Productos en tiempo real</h1>
<ul id="productList">
    <!-- La lista de productos se actualizará dinámicamente con JavaScript -->
</ul>

<form id="newProductForm">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" required>

    <label for="description">Descripción:</label>
    <textarea id="description" name="description" required></textarea>

    <button type="submit">Agregar Producto</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="../public/js/index.js"></script>
