<h1>Productos en tiempo real</h1>

<h1>Lista de Productos</h1>
<ul>
  {{#each products}}
    <li>{{title}}</li>
  {{/each}}
</ul>

<form id="newProductForm">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" required>

    {{!-- <label for="description">Descripción:</label>
    <textarea id="description" name="description" required></textarea> --}}

    <button type="submit">Agregar Producto</button>
</form>
