<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nombre</title>
  </head>
  <body>
    <header>
      <!-- Tu encabezado aquí si es necesario -->
    </header>

    <main>
      {{{body}}}
      <!-- Esta es la parte que se remplazará con el contenido específico de cada vista -->
    </main>

    <footer>
      <!-- Tu pie de página aquí si es necesario -->
    </footer>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>